@media   ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px !important
      &-img
        width: 100% !important
        height: 100% !important
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%

@media   ( max-width: 992px  )
  .container, .newsletter__wrapper
    max-width: 700px
  .logo
    width: 104px
  .navbar
    &-top
      padding-top: 30px !important
      padding-bottom: 30px !important
    &__search
      margin-left: auto
  .navbar
    &__menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    padding-bottom: 60px
    &__grid
      flex-direction: column
    &__slider
      width: 100% !important
      margin-bottom: 30px
    &__right
      flex-direction: row !important
  .slider
    width: 100% !important
  .booking
    width: 340px
  .map
    width: 340px !important
  .reviews
    &-slider
      &-item
        max-width: 580px
    &__title
      font-size: 30px
      line-height: 38px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &-card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  .footer
    padding-top: 73px
    &-wrapper
      grid-row-gap: 40px
      grid-template-columns: repeat(6, 1fr)
    &__input
      flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
    &__conditions
      padding-top: 30px !important
      flex-direction: column
      align-items: start
    &__cards
      margin-left: 0
  .newsletter
    padding: 84px 0 80px 0
@media   ( max-width: 767px )
  body
    padding-top: 90px
  .container
    max-width: 576px
    width: 92%
  .navbar
    &--mobile_fixed
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 99
    &__user, &__search
      &--mobile-hidden
        display: none
      &--mobile-visible
        display: flex
    &__user
      flex-direction: column
      justify-content: space-between
    &__bottom
      display: none
      position: fixed
      top: 78px
      left: 0
      right: 0
      bottom: 0
      padding-top: 30px
      overflow: scroll
      &--vivible
        display: block
    &__menu
      flex-direction: column
      &-item
        margin-bottom: 20px
        &--mobile
          &-visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      justify-content: space-between
      align-items: center
      flex-direction: column
      padding: 0
      background-color: #fff
      border: none
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto !important
  .hotel
    &__name
      flex-basis: 100%
    &__wrapper
      justify-content: space-between !important
    &__info
      &-rating
        display: none
      &-offer
        order: -1
        margin-left: 0 !important
      &-text
        width: 100%
      &-name
        margin-top: 10px
        margin-bottom: 0
    &__right
      min-height: 450px
      flex-direction: column !important
    &-slider
      width: 100% !important
    .booking
      width: 100%
    .map
      width: 100% !important
  .newsletter
    &__wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px
      width: 92%
  .reviews
    &-slider
      &-item
        padding: 0 30px 30px
        &:after,&::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
    &__title
      font-size: 18px
      line-height: 23px
  .activities
    padding-top: 40px
    padding-bottom: 60px !important
  .card
    width: 49%
    height: 255px
  .footer
    &__input
      flex-basis: 100%
    &__input
      order: 1
    &__message
      order: 3
    &__info
      order: 4
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 5
@media ( max-width: 576px )
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px !important
  .newsletter
    &__title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &-strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 280px
@media  ( max-width: 320px )
  .container
    max-width: 280px
  .navbar
    &--mobile_fixed
      max-width: 320px
  .hotel
    &__right
      min-height: 470px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin: 37px
      margin-left: 0
  .subcribe
    width: 100%
  .reviews
    &__title
      width: 245px
      margin: 0 auto 42px
    &-slider
      &__item
        padding: 0 33px 30px
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__title
      max-width: 280px
      margin-bottom: 16px
      margin-right: 0
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
      margin-left: 0
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        width: 280px !important
      &-form
        grid-row: 7
        grid-column: 1
    &__input
      flex-basis: 65%
    &__message
      flex-basis: 75%
    &__conditions
      &-list
        width: 280px
  .card
    width: 100%
  .search
    &__input
      max-width: 280px
